config SENSOR_BMA530
    bool "Bosch BMA530 accelerometer"
    default y
    depends on DT_HAS_BOSCH_BMA530_ENABLED
    select I2C
    help
      Enable support for the Bosch BMA530 accelerometer over I2C.


